@import url('https://rsms.me/inter/inter-ui.css');

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter UI", Helvetica, Arial, sans-serif;
  margin: 25px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #C21818;
  text-align: center;
}

header, main, footer {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

.centered {
  text-align: center;
}

form {
  padding: 15px;
  background-color: #f0f0f0;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

label {
  font-weight: bold;
  margin-bottom: 0.25em;
  display: block;
}

button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  background-color: yellow;
  border: 1px solid grey;
  box-shadow: 2px 2px #313131;
  cursor: pointer;
  margin-top: 1em;
}

button:hover {
  background-color: gold;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  color: #BBBBBB;
  text-align: center;
}

.result {
  font-weight: bold;
  font-size: 24px;
}

.score {
  color: #C21818;
}

.radio-buttons label {
  display: inline;
  margin-right: 1em;
}

.radio-buttons input {
  display: inline;
  width: auto;
}

.ghost {
  color: #BBBBBB;
}
